<%- include('../layouts/head'); -%>
<%- include('../layouts/nav'); -%>

<h1>About</h1>
<p>I am a cryptocurrency enthusiast with 1 year experience in blockchain industry, marketing management, analytics and traders.<br>I also have expertise in basic programming languages.<br>and I'm a student of Informatics Engineering Unugiri Bojonegoro.</p>
<p>👀 I’m interested in Back-end Developer.</p>
<p>🌱 I’m currently learning JavaScript, Java, PHP.</p>
<%- include('../layouts/footer'); -%>