<%- include('../layouts/head'); -%>
<%- include('../layouts/nav'); -%>

  <h1>Contact</h1>
  <ul>
    <li>Github: <a href="https://github.com/risqikhoirul">github.com/risqikhoirul</a></li>
    <li>Email: <a href="mailto:contact@risqiansyah.my.id">contact@risqiansyah.my.id</a></li>
    <li>Linkedin: <a href="https://www.linkedin.com/in/khoirulrisqi/">linkedin.com/in/khoirulrisqi</a></li>
    <li>Facebook: <a href="https://facebook.com/thePriVat.oct">facebook.com/thePriVat.oct</a></li>
    <li>Instagram: <a href="https://instagram.com/risqiansyah_">instagram.com/risqiansyah_</a></li>
  </ul>
<%- include('../layouts/footer'); -%>