<%- include('../layouts/head'); -%>
<%- include('../layouts/nav'); -%>


<div class="container-md">
  <div class="row">
    <div class="col-md-3">
      <h1>M. Khoirul Risqi</h1>
      <p>Junior Back-end Developers</p>
       
      </div>
    <div class="col-md-3">
      <img  class="imge" src="./img/risqi.png">
    </div>
  </div>
<%- include('../layouts/footer'); -%>